* {
    outline: none !important;
    box-shadow: none !important;
}

input {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    border-radius: 0;
    }

.indiv-img-div {
    display: inline-block;
}

.row {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}

.gif-button {
    background-color: white;
    border: 2px solid black;
    border-top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    transition-duration: 0.2s;
}

.gif-button:hover {
    background-color: lightslategray;
    color: white;
}

.no-left-border {
    border-left:0;
}

.head {
    border: 2px solid black;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.indiv-img-div {
    margin: 5px;
    border: 1px solid black;
}

.rating {
    padding-top: 9px;
}

.gif {
    cursor: pointer;
}

.logo {
    max-width: 200px;
}

.logo-div {
    margin: 5px;
    display: block;
    margin-top: 10px;
}

.team-img-div {
    border: 2px solid black;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 15px;
}

#gif-form {
    margin-top: 10px;
    -webkit-appearance: none;
}

#gif-input {
    border: 2px solid black;
    width: 170px;
    height: 30px;
}

#add-gif {
    height: 30px;
    border: 2px solid black;
    background-color: white;
    transition-duration: 0.2s; 
}

#add-gif:hover {
    background-color: lightslategray;
    color: white;
}

#image-div {
    margin-top: 15px;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {

    .gif-button {
        padding-left: 10px;
        padding-right: 10px;
    }

    .gif-button:hover {
        background-color: white;
        color:black;
    }

    #add-gif:hover {
        background-color: white;
        color: black
    }

    #image-row {
        padding-left: 15px;
        padding-right: 15px;
    }

}



/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}



